<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%block body%}
    <form action="/", method = "POST">
        <label for="client_id">Client ID:</label>
        <input type="text" id="client_id" name="client_id"><br><br>
        <label for="password">Client Secret:</label>
        <input type="password" id="client_secret" name="client_secret"><br><br>
        <label for="site_url">Site  URL:</label>
        <input type="url" id="site_url" name="site_url"><br><br>
        <label for="list_name">List Name:</label>
        <input type="text" id="list_name" name="list_name"><br><br>
        <input type="submit" value="Submit">
      </form>
    {%endblock%}
</body>
</html>